#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Right-slanted trapezoid: top-right to bottom-right */
.clip-path-trapezoid-right {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  box-shadow: 2px 2px 6px rgba(178, 17, 17, 0.3);
  border-right: 2px solid #92a0b7;
  background-color: #ced7e3; /* optional, for visibility */
}


